.BitcoinConverter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.BitcoinConverter input[type="number"] {
  padding: 10px;
  font-size: 18px;
}
.BitcoinConverter select {
  padding: 10px;
  font-size: 18px;
  margin: 10px 0;
}
h2 {
  margin: 20px 0;
}
main {
}
